<ons-page id="spiderman">
    <div class="mt-10" style="text-align: center;">
        <div class="bg-img-spm img-detail">
            <ons-icon class="icon-play" icon="md-play-circle-outline">
            </ons-icon>

        </div>
    </div>
    <div class="container pd">
        <div class="title-src">The Amazing Spider-Man (2012)</div>
        <div class="detail">
            After Peter Parker is bitten by a genetically altered spider, he gains newfound, spider-like powers and ventures out to save the city from the machinations of a mysterious reptilian foe.
        </div>
    </div>
</ons-page>