<ons-page id="home">

    <ons-navigator swipeable id="myNavigator" page="page1.html"></ons-navigator>
    <template id="page1.html">
        <ons-page id="Home">
            <ons-carousel swipeable auto-scroll overscrollable id="carousel">
                <ons-carousel-item >
                    <div style="text-align: center; font-size: 30px; color: #fff;">
                        <img class="img"  src="image/spiderman.jpg" alt="" id="spiderman">
                    </div>
                </ons-carousel-item>
                <ons-carousel-item >
                    <div style="text-align: center; font-size: 30px; color: #fff;">
                        <img class="img" src="image/infinitywar.jpg" alt="" id="infinitywar">
                    </div>
                </ons-carousel-item>
                <ons-carousel-item >
                    <div style=" text-align: center; font-size: 30px; color: #fff; ">
                        <img class=" img " src=" image/endgame.jpg " alt=" " id="endgame">
                    </div>
                </ons-carousel-item>
        
            </ons-carousel>
            <div class=" title ">Top 10 of August</div>
        </ons-page>
    </template>
</ons-page>