<ons-page id="search">
    <p style="text-align: center; margin-top: 10px;">
        <ons-search-input placeholder="Search" onchange="ons.notification.alert('Searched for: ' + this.value)">
        </ons-search-input>


    </p>

    <ons-list-item>
        <div class="left">
            <img class="list-item__thumbnail img-search" src="image/infinitywar.jpg">
        </div>
        <div class="center">
            <span class="list-item__title bold">Avengers: Infinity War (2018)</span>
            <span class="list-item__subtitle">The Avengers and their allies must be willing to sacrifice all in an
                attempt to defeat the powerful Thanos before his blitz of devastation and ruin puts...</span>
            <span class="list-item__subtitle bold">Ratings</span>
            <span class="list-item__subtitle bold">
                <div class="icon-center">
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star-outline">
                    </ons-icon>
                </div>
            </span>
        </div>
    </ons-list-item>

    <ons-list-item>
        <div class="left">
            <img class="list-item__thumbnail img-search" src="image/endgame.jpg">
        </div>
        <div class="center">
            <span class="list-item__title bold">Avengers: Endgame (2019)</span>
            <span class="list-item__subtitle">After the devastating events of Avengers: Infinity War (2018), the
                universe is in ruins. With the help of remaining allies...</span>
            <span class="list-item__subtitle bold">Ratings</span>
            <span class="list-item__subtitle bold">
                <div class="icon-center">
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star-half">
                    </ons-icon>
                </div>
            </span>
        </div>
    </ons-list-item>

    <ons-list-item>
        <div class="left">
            <img class="list-item__thumbnail img-search" src="image/spiderman.jpg">
        </div>
        <div class="center">
            <span class="list-item__title bold">The Amazing Spider-Man (2012)</span>
            <span class="list-item__subtitle">After Peter Parker is bitten by a genetically altered spider, he gains
                newfound, spider-like powers...</span>
            <span class="list-item__subtitle bold">Ratings</span>
            <span class="list-item__subtitle bold">
                <div class="icon-center">
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                </div>
            </span>
        </div>
    </ons-list-item>



</ons-page>